# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.melos_tool/
generated_plugin_registrant.dart

# Environment / secrets
.env
*.env
*.secret
*.key
*.jks

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Flutter/App.framework
ios/Flutter/engine/
*.xcworkspace/
*.xcuserdata/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.flutter-plugins
macos/.flutter-plugins-dependencies
macos/Pods/

# Windows
windows/runner/Debug/
windows/runner/Release/
windows/runner/*.vcxproj.user
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/
web/.packages
web/build/

# Symbolic links (Melos, etc.)
.symlinks/

# Other
*.log
*.tmp
*.swp
*.lock
.DS_Store
Thumbs.db
